body {
    background-color: #efefef;
}

.header-breadcrumb {
    padding: 10px;
}

.content-wrapper {
    padding: 20px;
}


/* Course */
.course-name {
    font-weight: 500;
}

.course-desc {
    color: #727272;
    font-size: 0.9rem;
}

/* Lesson */
.lesson-name {}

.lesson-desc {
    color: #727272;
    font-size: 0.9rem;
}

.lesson-selector .accordion {
    margin: 10px;
}

.lesson-selector .accordion .content {
    margin-left: 14px;
}

.lesson-active {
    color: #4183c4 !important;
}

/* Control panel */
.control-item-container {
    margin: 10px 0;
}
.control-item {
    display: inline-block;
    margin: 2px 4px;
}

.control-item:not(:first-child):before {
    content: "| ";
    margin: 0 4px;
}

.control-item input {
    vertical-align: middle;
}

.control-item > * {
    margin-right: 6px;
}

/* Chart */
.chart-wrapper {
    position: relative;
}

.flyingMsg {
    position: absolute;
    padding: 2px 8px;

    border-radius: 6px;
    font-size: 10px;
    text-align: center;
}